*
{
    background-color: beige;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.input
{
    text-align: center;
    margin: 100px 0;
}
input[type="text"]
{
    height: 50px;
    width:600px;
    padding: 10px;
    background-color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}
input[type="submit"]
{
    margin: 10px;
    height: 50px;
    width:100px;
    background-color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}
.display
{
    text-align: center;
}